<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843999378263-h6016q2n3oki2n46in03pl86rsjiriba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843999378263-h6016q2n3oki2n46in03pl86rsjiriba</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bTNx6Jlgh8t1m0JvepNwo9AHIxKfWEM</string>
	<key>GCM_SENDER_ID</key>
	<string>843999378263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-blaze</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-blaze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843999378263:ios:a97ddec8c01f0952021c12</string>
</dict>
</plist>